<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>

<body>
    <h1>Vremenska prognoza</h1>
    <p>
        <ul>
            <li><a href="gradovi">Gradovi</a></li>
            <li><a href="lokacije">Lokacije</a></li>
            <li><a href="korisnici">Korisnici</a></li>
            <li><a href="trenutnavremena">Trenutna stanja</a></li>
            <li><a href="prognoze">Prognoze</a></li>
        </ul>
    </p>
</body>
</html>
